.button {
    align-self: stretch;
    width: 10%;
    height: 7%;
    font-size: 40px;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    -unity-font-style: normal;
    background-color: rgba(172, 172, 172, 0);
    color: rgb(255, 255, 255);
}
